@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Upload your CSV File to Import Employees Data</p>

    <form asp-action="UploadFile" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>

    @{
        var commands = new List<object>
    {
    new { type = "Edit", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "e-flat" } },
    new { type = "Save", buttonOption = new { iconCss = "e-icons e-update", cssClass = "e-flat" } },
    new { type = "Cancel", buttonOption = new { iconCss = "e-icons e-cancel-icon", cssClass = "e-flat" } }
    };
    }

    <ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowFiltering="true" toolbar="@(new List<string> { "Edit", "Update", "Cancel", "Search" })">
        <e-grid-editSettings allowEditing="true" mode="Normal"></e-grid-editSettings>
        <e-grid-columns>
            <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" width="100"></e-grid-column>
            <e-grid-column field="FirstName" headerText="First Name" width="150"></e-grid-column>
            <e-grid-column field="LastName" headerText="Last Name" width="150" sortOrder="Ascending"></e-grid-column>
            <e-grid-column field="Position" headerText="Position" width="150"></e-grid-column>
            <e-grid-column headerText="Actions" width="100" commands="commands"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>